/*
Quy ước:
.container -->khung bọc có kích thước cố định

(number nhận từ 1 đến 12)

Concept
Section > Container > Row > Col > Item


Responsive ( xây dựng theo mobile first)
.col-(number) ==> màn hình nhỏ nhất
.col-sm-{number} ==> Màn hình >= 576px
.col-md-{number} ==> Màn hình >= 768px
.col-lg-{number} ==> Màn hình >= 992px
.col-xl-{number} ==> Màn hình >= 1200px
.col-xxl-{number} ==> Màn hình >= 1400px

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

:root {
    --container-width: 1200px;
    --column-space:20px;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(-1 * (var(--column-space) / 2));
}

[class^="col-"] {
    flex-basis: calc(100% / 12 * var(--col-size));
    max-width: calc(100% / 12  * var(--col-size));
    padding: 0 calc(var(--column-space) / 2);
    padding-bottom:var(--column-space) ;
}

.col-1 {
   --col-size: 1;
}

.col2 {
    --col-size: 2;
}

.col3 {
    --col-size: 3;
}

.col4 {
    --col-size: 4;
}

.col5 {
    --col-size: 5;
}

.col6 {
    --col-size: 6;
}

.col7 {
    --col-size: 7;
}

.col8 {
    --col-size: 8;
}

.col9 {
    --col-size: 9;
}

.col10 {
    --col-size: 10;
}

.col11 {
    --col-size: 11;
}

.col12 {
    --col-size: 12;
}