// toán tử so sánh : > ,< , >= , <= , == , != , === , !==
// tác dụng: áp dụng cho các biểu thức so sánh
// toán tử luận lý : and , or , not

//ví dụ : %a >= 5 and %a <= 10
// lưu ý : kết quả của biểu thức so sánh sẽ là true hoặc false

// $a :5;
// $b : $a < 5;
// .box {
//     color: $b;
// }

// câu lệnh rẽ nhánh
// - nếu dieukien1 thì câu lệnh 1
// - nếu dieukien2 thì câu lệnh 2
// - nếu dieukien3 thì câu lệnh 3
// - nếu dieukienn thì câu lệnh n

// $number: 10;
// .box {
//     @if $number >= 10 {
//         width: 50%;
// } @else {
//     color: red;
// }

// ví dụ: xây dựng 1 mixins position dùng để thể hiện vị trí của 1 phần tử
// - tl --> top left
// - tr --> top right
// - bl --> bottom left
// - br --> bottom right
@mixin position($type, $x, $y) {
  position: absolute;
  @if $type == "tl" {
    top: $x;
    left: $y;
  } @else if $type == "tr" {
    top: $x;
    right: $y;
  } @else if $type == "bl" {
    bottom: $x;
    left: $y;
  } @else if $type == "br" {
    bottom: $x;
    right: $y;
  } @else {
    inset: 0;
  }
}
$value: 11;
$status: true;
.box {
  //   @if $$value % 2 == 0 {
  //     @include position("tl", 20px, 30px);
  //   } @else {
  //     @include position("tr", 20px, 30px);
  //   }
  @if $status {
    @include position("tl", 20px, 30px);
  } @else {
    @include position("tr", 20px, 30px);
  }
}
