/*
thuộc tính float: trôi các phần tử html về phía bên trái bên phải thành phần cha
-none : ko trôi
-left : trái
-right: phải

thuộc tính clear: khắc phục tự động trôi của float
-left 
-right
-both


clear chỉ hoạt động với thẻ block
*/





.box {
    width: 400px;
    margin: 30px auto;
    border: 1px solid rebeccapurple;
    float: left;
}

.block-1 {
    background: green;
    width: 100px;
    height: 50;
    float: left;
}

.block-2 {
    background: purple;
    width: 100px;
    height: 100px;
    float: left;
}

.block-3 {
    background: red;
    width: 100px;
    height: 70px;
    float: left;
}

.block-4 {
    background: yellow;
    height: 60px;
   
}
.clear {
    display: block;
    clear: both;
}