@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card-style($background-color: $card-background-color) {
  background-color: $background-color;
  padding: 15px;
  border-radius: $border-radius;
  text-align: center;
}
