body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

.quote-container {
    position: relative;
    max-width: 700px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
}

.quote-icon-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.left-quote {
    top: -30px;
    left: -30px;
}

.right-quote {
    bottom: -30px;
    right: -30px;
}

.quote-icon {
    font-size: 24px;
    color: #cccccc;
}

.quote-text {
    font-size: 18px;
    font-style: italic;
    color: #333333;
    margin: 0 40px;
    text-align: justify;
}
