* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ul,
li,
ol {
	list-style-type: none;
}

header ul {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 68px;
	width: 100%;
	li {
		margin: 0 12px;
	}
	a {
		color: blue;
		font-weight: bold;
		font-size: 20px;
		padding: 8px 16px;
		border: 1px solid blue;
		border-radius: 6px;
		transition: all ease-in-out 0.3s;
		text-decoration: none;
		&:hover {
			background-color: blue;
			color: white;
		}
	}
}
