body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
}

.logo img {
    height: 40px;
}

.menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start;
    margin-left: 20px;
}

.category {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 20%;
     cursor: pointer;
}

.menu-item {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 0 10px;
    padding: 0 5px;
    cursor: pointer;
}

.menu-item i,
.category i {
    margin-left: 5px;
}

.join-now button {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.join-now button:hover {
    opacity: 0.8;
}
