* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #366d08; 
    display: flex;
}

.item {
    padding: 14px 16px;
    text-align: center;
    color: white;
    text-decoration: none;
    border-right: 1px solid white; 
    cursor: pointer;
}

.item:last-child {
    border-right: none; 
}

.item:hover {
    background-color: red;
}

