/*
thuoc tinh display: thay đổi chế độ hiển thị của thẻ html
-none: ẩn (mất không gian)
-block: chuyển về dạng thẻ block
-inline: chuyển về dang thẻ inline
-inline-block: kết hợp giữa inline và block

thuộc tính visibility : ẩn/hiện
-visible : hiện
-hidden : ẩn

thuộc tính opacity: làm trong suốt các phần tử

*/

.box {
    display: inline;
    background: green;
}

