/*
overflow: xu li noi dung bi tran
-visible : giu nguyen noi dung bi tran
-hidden : an noi dung bi tran
-scroll : an noi dung bi tran nhung tao thanh cuon de nguoi xem dc noi dung an
-auto : an noi dung bi tran nhung tao thanh cuon de nguoi xem dc noi dung an

thuộc tính overflow-x : xử lý tràn theo trục x
thuộc tính overflow-y : xử lý tràn theo trục y

list style: định dạng thẻ chèn danh sách( ul li, ol li)

list style position 

*/



.box {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    overflow: auto;
}