/*
lớp giả (trạng thái)
cú pháp :
seclector:tenlopgia {

}

-hover
-active
-focus : chỉ có tác dụng với form
-checked
-disabled
-not
-first-child
-last-child
-first-of-type
-last-of-type
-nth-child
-nth-of-type
-valid

*/

h1:hover {
    color: red;
}

h1:active {
    color: green;
}

input:focus {
    background: blueviolet;
}

input:focus::placeholder {
    background:brown ;
}

button:focus {
    background: yellow;
}

input:disabled::placeholder {
    color: blueviolet;
}

.list-item li:not(.item):not(.first) {
    color: red;
}

.list-item li:first-child {
    color: red;
}

.list-item li:last-child {
    color: aqua;
}

