
input[type="radio"] {
    display: none;
}

.nav label {
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#color-red:checked ~ .nav .label-red, 
#color-red:checked ~ .text {
    color: red;
}

#color-green:checked ~ .nav .label-green, 
#color-green:checked ~ .text {
    color: green;
}

#color-blue:checked ~ .nav .label-blue, 
#color-blue:checked ~ .text {
    color: blue;
}
