body {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
#submit {
background-color: #737773;
color: white;
border-radius: 4px;
}

input[type="text"] {
    margin: 0 20px 20px 0 ;
}