@mixin container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

@mixin grid-layout($columns) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: 20px;
}

body {
  background-color: #f4f4f4;
  color: #333;
  font-family: "Arial", sans-serif;
}
