* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

table,
tr,
td,
th {
  border: 1px solid #ccc;
  border-collapse: collapse;
  text-align: center;
}

button {
  padding: 4px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  background-color: blue;
}

.completed {
  background-color: green;
}

.doing {
  background-color: red;
}
