/*
padding: tạo khoảng cách giwuxa border và nội dung trong 1 phần tử

-padding: value
-padding: value1 value2
-padding: value1 value2 value3
-padding: value1 value2 value3 value4
-padding-top: value
-padding-left: value
-padding-bottom: value
-padding-right: value

lưu ý: nếu dùng đơn vị % ==> tỷ lệ theo width thẻ cha

nếu phần tử là inline ==> thì không padding top với bottom đc

*/


.box {
    border: 5px solid red;
    padding-top: 50%;
}