/*
margin: căn lề
margin: value
margin: value1 value2
margin: value1 value2 value3
margin: value1 value2 value3 value4
margin-top
      -bottom
      -left
      -right

đơn vị % tỉ lệ theo width của thẻ cha
ko hỗ trợ top bottom với thẻ inline
có giá trị auto, có giá trị âm


*/

.box {
    border: 5px solid rebeccapurple;
    padding: 10px;
    margin-left: auto; 
    margin-right: auto;
    width: 200px;
}