/*
transparent : mau trong suot

giá trị kết thừa ( tồn tại trong mọi thuộc tính )
-initial : giá trị mặc định của trình duyệt
-inherit : kế thừa giá trị của thành phần cha

Thuộc tính color là thuộc tính kết thừa
currentcolor : lấy thuộc tính của giá trị color hiện tại
*/


p {
    color: rgb(146, 127, 255);
}
