

body {
    display: flex;
    justify-content: center;
    
}
.container {
    display: inline-block;
    align-items: center; 
}
.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(44, 199, 44);
    position: relative;
    border-radius: 50%;
    background-color: transparent;
    vertical-align: middle;  
   
}

.checkbox:checked::after {
    content: '\2713'; 
    color: rgb(31, 226, 31);
    font-size: 16px;
    position: absolute;
    left: 4px;
    top: 2px;
    
}
