
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #2f3b47;
}
.post {
    position: relative;
    top: 40px;
    cursor: pointer;
}
.main-wrapper {
    position: relative;
}
.post:hover {
    transform: translateY(40px);
}
.wrapper {
    position: relative;
    width: 320px;
    height: 220px;
    background-color: #ba4b37;
}
.wrapper::before {
    position: absolute;
    transform-origin: bottom center;
    transform: rotateX(-170deg);
    transition: transform .4s ease .7s;
    border-bottom: 115px solid #ba4b37;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    top: -114px;
   
}
.post:hover .wrapper::before {
    transform: rotateX(0deg);
    transition-delay: 0s;
}
.inner-wrapper {
    position: relative;
    width: 320px;
    height: 520px;
    top: -320px;
    overflow: hidden;
    pointer-events: none;
}
.note {
    position: absolute;
    width: 270px;
    height: 300px;
    background: #fff;
    left: 25px;
    top: 420px;
    transform-origin: top;
    transition: transform .4s ease .4s;
}
.post:hover .note {
    transform: translateY(-240px);
    transition-delay: .4s;
}
.header {
    height: 22px;
    display: flex;
    justify-content: space-between;
}
.slant {
    background-color: #c76c6e;
    width: 22px;
    transform: skew(-35deg);
}
.content {
    height: 100%;
    padding: 12px;
}
.bar {
    background-color: #c76c6e;
    height: 20px;
    margin-top: 8px;
}
.top-bar {
    width: 110px;
}
.bottom-bar {
    width: 55px;
    margin-top: 18px;
}
.dot {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #eecfce;
    transform: translate(180px, 65px);
}
.edge {
    position: absolute;
    border-left: 160px solid #e1514b;
    border-bottom: 110px solid transparent;
    border-top: 110px solid transparent;
    top: 2px;
    z-index: 20;
}
.edge::before {
    position: absolute;
    content: "";
    border-right: 320px solid #e85f57;
    border-top: 220px solid transparent;
    right: -160px;
    top: -111px;
}
.post:hover~.effect-shadow {
    width: 200px;
}
.effect-shadow {
    position: absolute;
    width: 290px;
    height: 10px;
    border-radius: 40%;
    background-color: rgba(0, 0, 0, 0.35);
    bottom: -190px;
    left: 50%;
    box-shadow: 0 0 25px 15px rgba(15, 14, 14, 0.4);
    transform: translateX(-50%);
}

