* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.layout {
  width: 1950.336px;
  height: 108.333px;
  flex-shrink: 0;
  background: var(--White, #fff);
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 350px;
    background-color: #fff;

    .logo {
      img {
        height: 90px;
      }
    }

    .navbar {
      ul {
        display: flex;
        list-style: none;
        margin-left: 190px;
        li {
          position: relative;
          margin: 0 20px;

          a {
            text-decoration: none;
            color: #000;
            font-weight: bold;
            padding-bottom: 5px;
            &:hover {
              color: #00b050;
            }
            &.active {
              color: #00b050;
              &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -5px;
                width: 100%;
                height: 3px;
                background-color: #00b050;
              }
            }
          }
        }
      }
    }

    .icons {
      display: flex;
      align-items: center;

      .cart {
        position: relative;
        margin-right: 30px;
        img {
          height: 24px;
        }
        .cart-count {
          position: absolute;
          top: -8px;
          right: -8px;
          background-color: #ff5722;
          color: #fff;
          font-size: 12px;
          padding: 2px 6px;
          border-radius: 50%;
        }
      }

      .search {
        img {
          height: 24px;
        }
      }
    }
  }
}
//main-section
.main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 200px;
  .content {
    max-width: 600px;

    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 2rem;
      font-weight: bold;
      color: #333;
      margin-bottom: 20px;
    }

    p {
      font-size: 1rem;
      line-height: 1.6;
      color: #666;
    }
  }

  .image-container-wrapper {
    background-color: #d3f9d8;
    padding: 20px;
    position: relative;

    .image-container {
      position: relative;
      display: flex;
      align-items: center;

      img {
        width: 600px;
        height: auto;
        position: relative;
        z-index: 2;
      }

      .vertical-text {
        position: absolute;
        top: 0;
        right: -80px;
        font-size: 8rem;
        color: rgba(0, 128, 0, 0.1);
        font-weight: bold;
        line-height: 1;
        z-index: 1;
        writing-mode: vertical-rl;
        text-orientation: upright;
        transform: rotate(90deg);
      }
    }
  }
}

//greenchop-statistics
.greenchop-statistics {
  text-align: center;
  padding: 50px;
  background-color: #fff;

  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #333;
    line-height: 1.4;
  }

  p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 40px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 40px auto;
  }

  .stat-boxes {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;

    .stat-box {
      background-color: #f5f5f5;
      padding: 20px;
      border-radius: 10px;
      width: 250px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      text-align: center;
      transition: transform 0.3s ease;
      position: relative;

      &:hover {
        transform: translateY(-5px);
      }

      .icon-wrapper {
        background-color: #ffe4e1;
        padding: 15px;
        border-radius: 10px;
        display: inline-block;
        margin-bottom: 20px;

        img {
          width: 50px;
          height: 50px;
        }
      }

      .corner-image {
        position: absolute;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 150px;
          height: 150px;
          object-fit: cover;
        }

        &.top-left {
          top: -105px;
          left: -105px;
        }

        &.bottom-right {
          bottom: -105px;
          right: -105px;
        }
      }

      h3 {
        font-size: 2rem;
        font-weight: bold;
        color: #000;
        margin-bottom: 10px;
      }

      p {
        font-size: 1.1rem;
        color: #333;
      }
    }

    .larger-box {
      width: 250px;
      padding: 35px;
    }
  }
}
//products-section
.products-section {
  padding: 50px 200px;
  h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
  }

  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;

    .product {
      width: calc(33.33% - 10px);
      text-align: center;
      transition: transform 0.3s ease;
      margin-bottom: 30px;

      &:hover {
        transform: translateY(-5px);
      }

      .image-wrapper {
        position: relative;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .circle-background {
          position: absolute;
          z-index: 1;
          width: 269.316px;
          height: 269.316px;
          flex-shrink: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -30%);
        }

        .product-image {
          z-index: 2;
          width: 300px;
          height: auto;
          transform: rotate(-15deg);
          margin-top: 20px;
        }
      }

      h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
        position: relative;
        padding-bottom: 10px;

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;
          width: 50px;
          height: 3px;
          background-color: #ccc;
        }
      }

      p {
        font-size: 1.2rem;
        margin-bottom: 10px;
        color: #666;

        &.price {
          font-weight: bold;
          color: #00b050;
        }
      }

      button {
        background-color: #00b050;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #007b33;
        }
      }
    }
  }
}

//news-section
.news-section {
  padding: 50px 0;
  background-color: #fff;
  text-align: center;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .section-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }

  .news-description {
    font-size: 1.1rem;
    color: #666;
    max-width: 850px;
    margin: 0 auto 40px;
    line-height: 1.8;
  }

  .news-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    .news-card {
      background-color: transparent;
      border-radius: 0;
      box-shadow: none;
      padding: 0;
      overflow: hidden;
      width: 32%;
      text-align: left;
      transition: transform 0.3s ease;

      &:hover {
        transform: none;
      }

      img {
        width: 100%;
        height: auto;
        border-bottom: none;
      }

      .news-content {
        padding: 0;

        .category {
          font-size: 1rem;
          color: #00b050;
          font-weight: bold;
          margin-bottom: 5px;
        }

        .meta-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;

          .date {
            font-size: 0.9rem;
            color: #777;
            display: flex;
            align-items: center;

            i {
              margin-right: 5px;
            }
          }
        }

        .news-title {
          font-size: 1.4rem;
          font-weight: bold;
          margin-bottom: 10px;
          color: #333;
          line-height: 1.5;
        }

        .description {
          font-size: 1rem;
          color: #666;
          line-height: 1.7;
        }
      }
    }
  }

  .load-more {
    background-color: #fff;
    color: #000;
    padding: 12px 35px;
    border: 2px solid #00b050;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 30px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: #00b050;
      color: #fff;
    }
  }
}

//greenchop-section
.greenchop-section {
  padding: 50px 0;
  background-color: #fff;
  text-align: center;
  position: relative;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .section-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }

  .section-description {
    font-size: 1.1rem;
    color: #666;
    max-width: 850px;
    margin: 0 auto 40px;
    line-height: 1.8;
  }

  .features {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 40px 0;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    margin: 0 20px;

    .feature-card {
      background-color: #fff;
      border-radius: 10px;
      padding: 20px;
      width: 32%;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      text-align: left;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-10px);
      }

      img {
        width: 100%;
        border-radius: 10px;
      }

      h3 {
        font-size: 1.2rem;
        color: #ff5722;
        margin: 15px 0 10px;
        font-weight: bold;
      }

      p {
        font-size: 1rem;
        color: #666;
        line-height: 1.6;
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 60%;
    left: 50%;
    width: 100%;
    height: 40%;
    background-color: #fff0e7;
    transform: translateX(-50%);
    z-index: 0;
    border-radius: 20px;
  }
}

//features-section
.features-section {
  padding: 50px 0;
  background-color: #fff;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 columns */
    gap: 30px;
    text-align: left;

    .feature-item {
      display: flex;
      align-items: center;
      gap: 20px; /* Space between the image and the text */

      img {
        width: 60px;
        height: 60px;
      }

      .text-content {
        h3 {
          font-size: 1.2rem;
          font-weight: bold;
          color: #333;
          margin-bottom: 5px;
        }

        p {
          font-size: 1rem;
          color: #666;
          line-height: 1.6;
        }
      }
    }
  }
}

//contact-section
.contact-section {
  padding: 50px;
  background-color: #fff;
  opacity: 0;
  transform: translateY(100px);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.3s;
}

.contact-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;

  .contact-left {
    flex: 1;
    img {
      max-width: 100%;
      height: auto;
      display: block;
      border-radius: 10px; // Optional: adds rounded corners to the image
    }
  }

  .contact-right {
    flex: 1;
    padding-left: 50px;
    text-align: left;

    h2 {
      font-size: 20px;
      margin-bottom: 20px;
      color: #333;
      line-height: 1.4;
      max-width: 400px;
      word-wrap: break-word;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .form-row {
        display: flex;
        gap: 20px;

        input {
          flex: 1;
        }
      }

      input,
      textarea {
        width: 100%;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 6.667px;
        font-size: 1rem;
        outline: none;
      }

      textarea {
        resize: none;
        height: 150px;
      }

      button {
        padding: 15px;
        background-color: #00b050;
        color: #fff;
        border: none;
        border-radius: 6.667px;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        align-self: flex-end; // Align the button to the right
        width: 145px;

        &:hover {
          background-color: #007b33;
        }
      }
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

//footer-section
.footer-section {
  padding: 40px 50px;
  background-color: #f2ffec;
  color: #333;
  font-size: 14px;
  line-height: 1.6;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;

    .footer-logo {
      flex: 1;
      min-width: 250px;

      img {
        max-width: 120px;
        margin-bottom: 10px;
      }

      p {
        margin: 10px 0;
        font-size: 14px;
        color: #666;
      }
    }

    .footer-links,
    .footer-support,
    .footer-contact {
      flex: 1;
      min-width: 200px;

      h3 {
        color: #00b050;
        font-size: 16px;
        margin-bottom: 15px;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          font-size: 14px;
          color: #333;

          img {
            margin-right: 8px;
            width: 18px;
            height: 18px;
          }
        }

        a {
          color: inherit;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    margin-top: 20px;

    img {
      max-width: 150px;
      margin-left: 20px;
    }

    .social-icons {
      display: flex;
      gap: 15px;
      margin-right: auto;
      padding-left: 1000px;

      a img {
        width: 45px;
        height: 45px;
        background-color: #e6f4ec;
        padding: 10px;
        border-radius: 50%;
      }
    }
  }
}
