* {
	box-sizing: border-box;
}

html {
	font-family: "Inter", serif;
}

body {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.btn {
	padding: 12px 24px;
	border-radius: 8px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}

.btn.btn-primary {
	background-color: blue;
	color: #fff;
}

.btn.btn-secondary {
	background-color: #ccc;
	color: #000;
}

.btn.btn-warning {
	background-color: orange;
	color: #fff;
}

.btn.btn-danger {
	background-color: red;
	color: #fff;
}
